* {
    box-sizing: border-box;
}

.month {
       padding: 8px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;

    margin-bottom: 3%;
  }
  
  .month ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;

  }
  
  .month .next {
    cursor: pointer;
    float: right;
    padding-top: 10px;
  }
  
.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
}
    .dayinMomth {
        float: left;
        height: 55px;
        width: 56px;
        border: solid;
        padding: 3%;
        MARGIN-TOP: 0;
        MARGIN-BOTTOM: 0;
    }


    .daysInWeek {
        float: left;
        height: 55px;
        width: 55px;
        border: none;
        padding: 3%;
        text-align: -webkit-center;
        padding-right: -7%;
        margin-bottom: 0;

    }

.callenderFace {
    WIDTH: 400px;
    display : block;
}
 

.plannerBoxEven {
    width : 80%;
    background-color:#dce6f1;
    border: groove;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    height:50px;
    /* margin-top : -3px; */
  float:left;
}

.plannerBoxTab {
    height:50px;
    width : 9%;
    float : left;
    background-color: #fff;
    border: groove;
    /* margin-top: -3px; */
    /* border-radius: 35px 5px 5px 25px; */

  }
 
  .plannerBoxSave {
    height:50px;
    width : 9%;
    float : left;   
    background-color:#dce6f1;
    border: groove;
     border-radius: 15px 50px 30px 5px; 
  }

.plannerBoxOdd { 
     width : 80%;
    background-color:#f7f7f7;
    border: groove;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    height:50px;
  /* margin-top : -3px; */
  float:left;
}


.plannerBoxPast { 
  width : 80%;
 background-color:grey;
 border: groove;
 text-align: center;
 font-size: 20px;
 text-transform: uppercase;
 letter-spacing: 3px;
 height:50px;
/* margin-top : -3px; */
float:left;
}


.plannerBoxNow { 
  width : 80%;
 background-color:#1abc9c;
 border: groove;
 text-align: center;
 font-size: 20px;
 text-transform: uppercase;
 letter-spacing: 3px;
 height:50px;
/* margin-top : -3px; */
float:left;
}


.theDaysParent {
    max-height: 451px;
    overflow-y: scroll;
    /* margin-bottom: 5px;
    padding-bottom:5px; */
    /* margin-top:-5px; */

}

.killme {


}

::-webkit-scrollbar {
    width: 30px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}