* {
    box-sizing: border-box;
}

.month {
       padding: 8px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
  }
  
  .month ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;

  }
  
  .month .next {
    cursor: pointer;
    float: right;
    padding-top: 10px;
  }
  
.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
}
    .dayinMomth {
        float: left;
        height: 55px;
        width: 56px;
        border: solid;
        padding: 3%;
        MARGIN-TOP: 0;
        MARGIN-BOTTOM: 0;
    }


    .daysInWeek {
        float: left;
        height: 55px;
        width: 55px;
        border: none;
        padding: 3%;
        text-align: -webkit-center;
        padding-right: -7%;
        margin-bottom: 0;

    }

.callenderFace {
    WIDTH: 400px;
}
 
.plannerBoxEven {
    width : 90%;
    background-color:#dce6f1;
    border: solid;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    height:52px;
  margin-top : -3px;
  float:left;
}

.plannerBoxTab {
    height:52px;
    width : 9%;
    float : left;
    background-color: #1abc9c;
    border: solid;
    margin-top: -3px;
    border-radius: 15px 50px 30px 5px; 

  }
 
.plannerBoxOdd { 
     width : 90%;
    background-color:#f7f7f7;
    border: solid;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    height:52px;
  margin-top : -3px;
  float:left;
}